#haskell compilation files
*.hi
*.ho
*.o

~*

#emacs backup files
*~
*\#

#tern files
.tern-port

.stack-work/

com.ph-uhl.deadd.notification.service
deadd.notification.systemd.service

pkg/
!pkg/PKGBUILD