.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: replaceme0000;
}

.blurredBG.notification {
    background: replaceme0010;
}

.blurredBG.notification.critical {
    background: replaceme0001;
}

.notificationInCenter.critical {
    background: replaceme0002;
}

.undershoot.top, .undershoot.right, .undershoot.bottom,
.undershoot.left {
    background-image: none;
}


button {
    background: replaceme0006;
    color: replaceme0003;
    border-radius: 0;
    border-width: 0;
    background-position: 0 0;
    text-shadow: none;
}

label {
    color: replaceme0007;
}

label.notification {
    color: replaceme0011;
}

label.critical {
    color: replaceme0008;
}
.notificationInCenter label.critical {
    color: replaceme0009;
}

button:hover {
    border-radius: 0px;
    background: replaceme0004;
    border-width: 0;
    border-top: transparent;
    border-color: #f00;
    color: replaceme0005;
}

.userbutton {
    background: replaceme0013;
}

.userbutton:hover {
    background: replaceme0015;
}

.userbuttonlabel {
    color: replaceme0014;
    font-size: replaceme0012;
}

.userbuttonlabel:hover {
    color: replaceme0016;
}

button.buttonState1 {
    background: replaceme0017;
}

button.buttonState2 {
    background: replaceme0018;
}

.userbuttonlabel.buttonState1 {
    color: replaceme0019;
}

.userbuttonlabel.buttonState2 {
    color: replaceme0020;
}

button.buttonState1:hover {
    background: replaceme0021;
}

button.buttonState2:hover {
    background: replaceme0022;
}

.userbuttonlabel.buttonState1:hover {
    color: replaceme0023;
}

.userbuttonlabel.buttonState2:hover {
    color: replaceme0024;
}

.title {
    font-weight: bold;
    font-size: replaceme0025;
}

.appname {
    font-size: replaceme0026;
}

.time {
    font-size: replaceme0028;
}

.noti-center.time {
    font-size: replaceme0027;
}
