.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    /*    background: rgba(52, 50, 0, 0.6640625);*/
    background: replaceme0000;
}

.blurredBG.notification {
    background: replaceme0015;
}

window.critical {
    background: replaceme0001;
}

.notificationInCenter.critical {
    background: replaceme0002;
}

.undershoot.top, .undershoot.right, .undershoot.bottom,
.undershoot.left {
    background-image: none;
}


button {
    background: replaceme0005;
    color: replaceme0003;
    border-radius: 0;
    border-width: 0;
    background-position: 0 0;
}

label {
    color: replaceme0006;
}

label.notification {
    color: replaceme0016;
}

label.critical {
    color: replaceme0007;
}
.notificationInCenter label.critical {
    color: replaceme0008;
}

button:hover {
    border-radius: 0px;
    background: replaceme0004;
    border-width: 0;
    border-top: transparent;
    border-color: #f00;
}

.userbutton {
    background: replaceme0011;
}

.userbutton:hover {
    background: replaceme0010;
}

.userbuttonlabel {
    color: replaceme0009;
    font-size: replaceme0012;
}

button.buttonState1 {
    background: replaceme0013;
}

.userbuttonlabel.buttonState1 {
    color: replaceme0014;
}
